// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'bespoke-theme-voltaire/lib/theme'

// @import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.fa-rotate-45
  filter: unquote("progid:DXImageTransform.Microsoft.BasicImage(rotation=0)")
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)

.bt-blue
  color: #2077b2

.bt-green
  color: #3faa15

.bt-yellow
  color: #fbff00

.bt-white
  color: #ffffff

.really-more-mega
  font-size: 128px

.small-gage
 height: 80px
 width: 100px

.bulb-button
  border: 0px
