doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Wiring the Internet of Things

    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')
    
  body(ng-app="WiringIoT")

    article

      section 
        h1 <i class="fa fa-cloud fa-lg bt-blue"></i> 
          <i class="fa fa-plug fa-rotate-45 bt-blue"></i> 
          <i class="fa fa-umbrella"></i> 
          <i class="fa fa-lightbulb-o"></i>
          <i class="fa fa-car"></i> 
          <i class="fa fa-home"></i> 
          <i class="fa fa-paper-plane-o"></i>
          <i class="fa fa-bicycle"></i>
        h1 Wiring the Internet of Things
        h3 Geek Gathering #7 February 2015
        

      section
        h1.really-more-mega 4&middot;<i class="mega-octicon really-more-mega octicon-organization"></i>
        h3.really-more-mega <i class="fa fa-laptop"></i>  / <i class="mega-octicon really-more-mega octicon-organization"></i>

      section
        h1.really-more-mega <i class="fa fa-toggle-off"></i> <i class="fa fa-long-arrow-right"></i>  <i class="fa fa-toggle-on bt-green"></i>
        table(ng-controller="OnViewController")
          tr( ng-repeat="team in teams")
            td <i class="mega-octicon octicon-organization"></i>   {{team.teamId}}
            td
              h1 <i class="fa" ng-class="team.on ? 'fa-toggle-on bt-green' : 'fa-toggle-off' "></i>
            td 
              h1(ng-show="team.on") <a href="" class="bulb-button" ng-click="bulbCicked(team.teamId)"> <i class="fa fa-lightbulb-o" ng-class="team.lightBulbColor"  ></i></a> 
                
            
      section        
        table(ng-controller="OnViewController")
          tr
            th <i class="octicon octicon-organization"></i>
            th <i class="wi wi-thermometer"></i>
            th <i class="wi wi-sprinkles"></i>
            th <i class="fa fa-lightbulb-o"></i>
            th <i class="fa fa-repeat"></i>
            //- th <i class="fa fa-arrows"></i>
            //- th <i class="fa fa-arrows"></i>
            //- th <i class="fa fa-arrows"></i>
          tr( ng-repeat="team in teams")
            td {{team.teamId}}
            td <just-gage ng-attr-id="{{ 'team-c-' + team.teamId }}" class="small-gage" value="team.Temperature" min="0" max="30" options="options"></just-gage>
            td <just-gage ng-attr-id="{{ 'team-h-' + team.teamId }}" class="small-gage" value="team.Humidity" min="0" max="100" options="options"></just-gage>
            td <just-gage ng-attr-id="{{ 'team-b-' + team.teamId }}" class="small-gage" value="team.Photo" min="0" max="1023" options="options"></just-gage>                  
            td <just-gage ng-attr-id="{{ 'team-p-' + team.teamId }}" class="small-gage" value="team.Poti" min="0" max="1023" options="options"></just-gage>
            //- td <just-gage ng-attr-id="{{ 'team-y-' + team.teamId }}" class="small-gage" value="team.Yaw" min="-180" max="180" options="options"></just-gage>
            //- td <just-gage ng-attr-id="{{ 'team-pi-' + team.teamId }}" class="small-gage" value="team.Pitch" min="-180" max="180" options="options"></just-gage>
            //- td <just-gage ng-attr-id="{{ 'team-ro-' + team.teamId }}" class="small-gage" value="team.Roll" min="-180" max="180" options="options"></just-gage>
            
      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
