doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Wiring the Internet of Things

    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')
    
  body(ng-app="WiringIoT")

    article

      section 
        h1 <i class="fa fa-cloud fa-lg bt-blue"></i> 
          <i class="fa fa-plug fa-rotate-45 bt-blue"></i> 
          <i class="fa fa-umbrella"></i> 
          <i class="fa fa-lightbulb-o"></i>
          <i class="fa fa-car"></i> 
          <i class="fa fa-home"></i> 
          <i class="fa fa-paper-plane-o"></i>
          <i class="fa fa-bicycle"></i>
        h1 Wiring the Internet of Things
        h3 Geek Gathering #7 February 2015
        
      section
          h1 <i class="fa fa-calendar"></i> 
          p After a short introduction into MQTT and Node-RED we will use an Arduino combined with an “IoT Shield” to prototype some IoT gadgets.
          
      section
        h1.really-more-mega 4&middot;<i class="mega-octicon really-more-mega octicon-organization"></i>
        h3.really-more-mega  <img src="images/ShieldWhite.svg" width="120"></img> & <i class="fa fa-laptop"></i> / <i class="mega-octicon really-more-mega octicon-organization"></i>

      section
        h1.really-more-mega <i class="fa fa-toggle-off"></i> <i class="fa fa-long-arrow-right"></i>  <i class="fa fa-toggle-on bt-green"></i>
        table(ng-controller="OnViewController")
          tr( ng-repeat="team in teams")
            td <i class="mega-octicon octicon-organization"></i>   {{team.teamId}}
            td
              h1 <i class="fa" ng-class="team.on ? 'fa-toggle-on bt-green' : 'fa-toggle-off' "></i>
            td 
              h1(ng-show="team.on") <a href="" class="bulb-button" ng-click="bulbCicked(team.teamId)"> <i class="fa fa-lightbulb-o" ng-class="team.lightBulbColor"  ></i></a> 
        
      
            
      section        
        table(ng-controller="OnViewController")
          tr
            th <i class="octicon octicon-organization"></i>
            th <i class="wi wi-thermometer"></i>
            th <i class="wi wi-sprinkles"></i>
            th <i class="fa fa-lightbulb-o"></i>
            th <i class="fa fa-repeat"></i>
            //- th <i class="fa fa-arrows"></i>
            //- th <i class="fa fa-arrows"></i>
            //- th <i class="fa fa-arrows"></i>
          tr( ng-repeat="team in teams")
            td {{team.teamId}}
            td <just-gage ng-attr-id="{{ 'team-c-' + team.teamId }}" class="small-gage" value="team.Temperature" min="0" max="30" options="options"></just-gage>
            td <just-gage ng-attr-id="{{ 'team-h-' + team.teamId }}" class="small-gage" value="team.Humidity" min="0" max="100" options="options"></just-gage>
            td <just-gage ng-attr-id="{{ 'team-b-' + team.teamId }}" class="small-gage" value="team.Photo" min="0" max="1023" options="options"></just-gage>                  
            td <just-gage ng-attr-id="{{ 'team-p-' + team.teamId }}" class="small-gage" value="team.Poti" min="0" max="1023" options="options"></just-gage>
            //- td <just-gage ng-attr-id="{{ 'team-y-' + team.teamId }}" class="small-gage" value="team.Yaw" min="-180" max="180" options="options"></just-gage>
            //- td <just-gage ng-attr-id="{{ 'team-pi-' + team.teamId }}" class="small-gage" value="team.Pitch" min="-180" max="180" options="options"></just-gage>
            //- td <just-gage ng-attr-id="{{ 'team-ro-' + team.teamId }}" class="small-gage" value="team.Roll" min="-180" max="180" options="options"></just-gage>
            
      section
        //- h1 <i class="fa fa-cog fa-spin-slow fa-5x"></i>
        h1 <i class="fa fa-graduation-cap fa-5x"></i>
      
      section
        img(src="images/mqttorg-glow.png" width="150px")
        br
        span
          cite MQTT is a machine-to-machine (M2M)/"Internet of Things" connectivity protocol. It was designed as an extremely lightweight publish/subscribe messaging transport. It is useful for connections with remote locations where a small code footprint is required and/or network bandwidth is at a premium.
          br
          p.cite-ref
            a(href='https://mqtt.org') mqtt.org
            
      section
        h2 publish/subscribe messaging
        br
        img(src="images/pub-sub-1.svg") 
      
      section
        h2 publish/subscribe messaging
        br
        img(src="images/pub-sub-2.svg") 
      
      
      section
        h2 publish/subscribe messaging
        br
        img(src="images/pub-sub-3.svg") 
      
      
      section
        h2 publish/subscribe messaging
        br
        img(src="images/pub-sub-4.svg") 
      
      section
        h2.bullet topic
        br
        p.bullet key that identifies the information channel to which payload data is published
        br
        p.bullet hierarchy structure very much like the Filesystem Hierarchy 
        br
        pre.bullet.topic
          code(class="small-code topic").
            GG/Iot/1/Temperature
            GG/Iot/1/Humidity
            GG/Iot/1/Button/A  
            GG/Iot/1/Button/B  
            GG/Iot/2/Temperature
            GG/Iot/2/Humidity
            GG/Iot/2/Button/A 
            GG/Iot/2/Button/B 
            
      section
        h2.bullet.topic topic wildcards
        br
        table.topic
          tr
            th # 
            th +
          tr
            td(width="200")
              pre.bullet.topic
                code(class="small-code topic").
                  GG/Iot/1/#
              br
              pre.bullet.topic
                code(class="small-code topic").
                  <span class="bt-blue">GG/Iot/1/Temperature</span>
                  <span class="bt-blue">GG/Iot/1/Humidity</span>
                  <span class="bt-blue">GG/Iot/1/Button/A</span> 
                  <span class="bt-blue">GG/Iot/1/Button/B</span> 
                  <span class="bt-gray">GG/Iot/2/Temperature</span>
                  <span class="bt-gray">GG/Iot/2/Humidity</span>
                  <span class="bt-gray">GG/Iot/2/Button/A</span>
                  <span class="bt-gray">GG/Iot/2/Button/B</span>
            td(width="200")
              pre.bullet.topic
                code(class="small-code topic").
                  GG/Iot/+/Temperature      
              br
              pre.bullet.topic
                code(class="small-code topic").
                  <span class="bt-blue">GG/Iot/1/Temperature</span>
                  <span class="bt-gray">GG/Iot/1/Humidity</span>
                  <span class="bt-gray">GG/Iot/1/Button/A</span> 
                  <span class="bt-gray">GG/Iot/1/Button/B</span> 
                  <span class="bt-blue">GG/Iot/2/Temperature</span>
                  <span class="bt-gray">GG/Iot/2/Humidity</span>
                  <span class="bt-gray">GG/Iot/2/Button/A</span> 
                  <span class="bt-gray">GG/Iot/2/Button/B</span> 
              
      section
        h2.bullet <img src="images/remote-control-icon.png" width="100px"></img><img src="images/presentation.png" width="150px"></img> 
        pre.bullet
          code(class="small-code language-javascript").
            var client = new Paho.MQTT.Client(...);
            client.subscribe("GG/SlideController/WiringIoT/Command");          
            client.onMessageArrived = function(message) {
              switch(message.payloadString) {
                case 'next' : deck.next(); break;
                case 'prev' : deck.prev(); break;
              }
            };
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 <i class="fa fa-thumbs-o-up fa-5x"></i>
            
        
      section.node-red-text(data-bespoke-backdrop='node-red')
        p.bullet <i class="fa fa-plug fa-lg fa-rotate-225"></i><i class="fa fa-arrows-h fa-lg"></i><i class="fa fa-plug fa-lg fa-rotate-45"></i>
        h2.bullet <img src="images/node-red-screen.png" width="100%"></img>
        a.bullet(class="link-button" href="https://iotteam0.azurewebsites.net" target="_blank") <i class="fa fa-long-arrow-right"></i> <i class="mega-octicon octicon-browser"></i>  

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 <i class="fa fa-thumbs-o-up fa-5x"></i> <i class="fa fa-thumbs-o-up fa-5x"></i>

      section
        h2.bullet <i class="wi wi-day-sunny fa-4x"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-umbrella fa-4x"></i>
        h2 &nbsp;
        h2.bullet <i class="wi wi-rain fa-4x"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-umbrella fa-4x bt-blue"></i>
        br
        a.bullet(class="link-button" href="https://iotteam0.azurewebsites.net" target="_blank") <i class="fa fa-long-arrow-right"></i> <i class="mega-octicon octicon-browser"></i>  

      
      section
        h1.bullet <i class="mega-octicon more-mega octicon-organization"></i> <i class="fa fa-wrench fa-l"></i><img src="images/node-red-title-flow.png" height="80"></img>
        br
        table(ng-controller="OnViewController")
          tr( ng-repeat="team in teams")
            td 
             h2 <i class="mega-octicon octicon-organization"></i>   {{team.teamId}}
            td  &nbsp; 
            td   
              a(href="https://iotteam{{team.teamId}}.azurewebsites.net" target="_blank") https://iotteam{{team.teamId}}.azurewebsites.net
        
      section
        h2.bullet used <i class="fa fa-cloud"></i> services
        br
        ul
          li <b><a href="https://shiftr.io/">shiftr.io</a></b> - really cool publish/subscribe communication infrastructure service used as <b>MQTT Broker</b>.
          li <b><a href="http://azure.microsoft.com/en-us/services/websites/">Azure Websites</a></b></b> - used to host the <b>Node-RED</b> instance.
      
      section
        h2 ...

    script(src='build/build.js')
